.launcher {
  margin-top: 4px;
  margin-left: 4px;
}

.workspaces {
  margin-top: 4px;
  margin-left: 4px;
  padding: 14px;
  button {
    border-radius: 9999px;
  }
  button.active {
    background-color: $fg_color;
    padding: 4px 36px;
  }
  button.inactive {
    background-color: #3f3a3a;
    padding: 4px;
  }
}

.clock {
  margin-top: 4px;
  margin-right: 4px;
  padding: 8px 14px;
}

.battery {
  margin-top: 4px;
  margin-right: 4px;
  padding-left: 12px;
  padding-right: 14px;
}

.notification {
  margin-top: 4px;
  margin-right: 4px;
}
