.launcher {
  margin-left: 4px;
  margin-top: 4px;
  padding: 6px 10px;
  border-radius: 16px;
  label {
    font-size: 1.3em;
  }
}

.workspaces {
  margin-left: 4px;
  margin-top: 4px;
  padding: 15px 16px;
  border-radius: 16px;
  background: black;
  button {
    padding: 4px;
    background: white;
    border-radius: 9999px;
  }
}

.colorpicker {
  margin-top: 4px;
  padding: 0 8px;
  label {
    font-size: 20px;
  }
}

.window {
  margin: 0 4px;
  background-color: $bg-color;
  color: white;
  padding: 10px;
  min-width: 240px;
  border-radius: 0 0 20px 20px;
  label {
    font-size: 14px;
  }
}

.clock {
  margin-right: 4px;
  margin-top: 4px;
  padding: 8px 20px;
}

.powermenu {
  margin-right:2px;
  padding: 2px 12px;
  label {
    font-size: 16px;
  }
}
