.bar {
    font-weight: bold;
    background-color: transparent;
}

.box { 
  background-color: $bg-color;
  border-radius: 16px;
  padding: 8px;
}

.button {
  background-color: $bg-color;
  padding: 8px;
  border-radius: 9999px;
}
