.media {
  margin-top: 4px;
  margin-right: 4px;
}

.notch-bar {
  padding: 12px;
  min-width: 300px;
  border-radius: 0 0 36px 36px;
  background-color: $bg-color;
}

.home {
  label {
    color: white;
  }
}

.power {
  .poweroptions {
    margin: 0 2px;
    border-radius: 20px;
    padding: 16px;
  }
  .poweroptions:hover {
    background-color: #4c3858;
  }
}

.network {
  margin-top: 4px;
  margin-left: 4px;
}

