* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
    font-weight: bold;
    min-height: 10px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

tooltip {
    opacity: 0.8;
    border-radius: 0px;
}

tooltip label {
    padding: 12px;
    color: #7eb7e2;
}

#window,
#workspaces,
#clock,
#pulseaudio,
#pusleaudio-microphone,
#network,
#battery,
#custom-swaync {
    color: #7eb7e2;
    background: #11111b;
    opacity: 1;
    margin: 4px 0px 4px 0px;
}

#workspaces {
    border-radius: 48px 0px 0px 48px;
    margin-left: 4px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    border-radius: 48px;
    margin: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #a5acc7;
}

#workspaces button:hover {
    background: #a5acc7;
    color: #11111b;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    background: #a5acc7;
    color: #11111b;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#window {
    border-radius: 0px 48px 48px 0px;
    padding-left: 12px;
    padding-right: 12px;
}

#clock {
    border-radius: 48px;
    padding-left: 12px;
    padding-right: 12px;
}

#pulseaudio {
    border-radius: 21px 0px 0px 21px;
    padding-left: 12px;
    padding-right: 8px;
}

#pulseaudio.microphone {
    border-radius: 0px;
    padding-left: 8px;
    padding-right: 8px;
}
#network {
    padding-left: 8px;
    padding-right: 8px;
}

#battery {
    border-radius: 0px 21px 21px 0px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 12px;
}

#custom-swaync {
    border-radius: 48px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 11px;
    padding-right: 13px;
}
